* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.flex-layout {
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: (auto, 1fr);
    grid-template:
        "hd hd hd"
        "s1 s1 img1"
        "bn bn bn"
        "s2 s2 img2"
        "s3 s3 img3"
        "s4 s4 img4"
        "ft ft ft";
}

.hd {
    grid-area: hd;
    text-align: center;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/images.jpg");
}


h1 {
    font-size: 45px;
    text-align: center;
    color: white;
}

.s1 {
    grid-area: s1;
}

.s2 {
    grid-area: s2;
}

.s3 {
    grid-area: s3;
}

.s4 {
    grid-area: s4;
}

.ft {
    grid-area: ft;
   
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}