* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BANNER */
.banner {
    height: 300px;
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* NAV */
nav {
    background: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00bcd4;
}

/* BLOG SECTIES */
.blog {
    display: flex;
    gap: 30px;
    padding: 50px;
    align-items: center;
}

.blog:nth-child(even) {
    background-color: #f4f4f4;
}

.blog img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.blog h2 {
    margin-bottom: 10px;
}

.blog p {
    margin-bottom: 10px;
    line-height: 1.6;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
